{% extends 'layouts/base.html' %}

{% block title %}Реєстрація{% endblock title %}

{% block caption %}Реєстрація{% endblock caption %}

{% block content %}
{% load static %}
    <div class="container"
        style="text-align: center; margin: 45px 0px">
        <h3 style="color: purple">Реєстрація...</h3>
        <form id="form1" method="post" action="/account/reg" onsubmit="return true">
            {% csrf_token %}
            <div class="form-group">
                Логін: <br>
                <input type="text" id="login" name="login" required>
                <img id="login-ico" src="{% static 'img/question.png'%}" alt="..." class="icon">
                <div id="login-err" class="error"></div>
            </div>
            <div class="form-group">
                Пароль: <br>
                <input type="password" id="pass1" name="pass1" required>
                <img id="pass1-ico" src="{% static 'img/question.png'%}" alt="..." class="icon">
                <div id="pass1-err" class="error"></div>
            </div>
            <div class="form-group">
                Підтвердження паролю: <br>
                <input type="password" id="pass2" name="pass2" required>
                <img id="pass2-ico" src="{% static 'img/question.png'%}" alt="..." class="icon">
                <div id="pass2-err" class="error"></div>
            </div>
            <div class="form-group">
                E-mail: <br>
                <input type="email" id="email" name="email" required>
                <img id="email-ico" src="{% static 'img/question.png'%}" alt="..." class="icon">
                <div id="email-err" class="error"></div>
            </div>
            <p style="margin-top: 30px; text-align: center">
                <input id="submit" type="submit" value="Відправити" class="btn btn-success b1">
                <input id="reset" type="reset" value="Очистити" class="btn btn-danger b1">
            </p>
        </form>
    </div>
    <style>
        #form1 {
            width: 350px;
            border: 1px solid silver;
            border-radius: 15px;
            margin: 25px auto;
            padding: 30px 40px;
            text-align: left;
            box-shadow: 10px 10px 40px silver;
        }
        input {
            width: 87%;
        }
        .b1 {
            width: 47%;
        }
        .error{
            color: red;
        }
        .icon {
            width: 24px;
            margin-left: 0px;
            margin-bottom: 5px;
        }
    </style>
{% endblock content %}
