{% extends 'layouts/base.html' %}

{% block title %}Звіт про реєстрацію{% endblock title %}

{% block caption %}Звіт про реєстрацію{% endblock caption %}

{% block content %}
    <div class="container"
        style="text-align: center; margin-top: 45px; margin-bottom: 45px">
        <h3 style="color: purple">Звіт про реєстрацію...</h3>
        <h4 style="color: navy">
            {{ mess }}
        </h4>
        <h4 style="color: darkcyan">
            {{ info }}
        </h4>
    </div>
{% endblock content %}
