<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>university · {% block title %}{% endblock title %}</title>
        <link rel="icon" href="{% static 'img/favicon.ico.ico' %}">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="https://code.jquery.com/jquery-latest.js"></script>

    </head>
    <body>
        <header>
            {% include 'layouts/nav.html' %}
        </header>
        <main>
            {% block content %}{% endblock content %}
            {% include 'layouts/footer.html' %}

        </main>
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
