<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/home">University</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Головна</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/home/about">Про нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/faculties">Факультети</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/news">Новини</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/home/contact">Контакти</a>
              </li>
          </ul>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  style="margin-right: 75px">
                    Привіт,
                    {% if not user.is_authenticated %}
                      <span style="color: green">
                        {{ user.username }}
                      </span>
                    {% else %}
                      <span style="color: yellow">Гість</span>
                    {% endif %}
                </a>
              </li>
        </ul>
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
          {% if not user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="#">Вхід</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Реєстрація</a>
              </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link" href="#">Вихід</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Профіль</a>
              </li>
          {% endif %}
          </ul>
      </div>
    </div>
</nav>
